*{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  height: 200Vh;
  background-color: #f4f4f4;
  position: relative;
}
nav{
  position: relative;
}
#mycheckbox{display: none}
.menu-toggler{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 670px;
  height: 690px;
  
  
  cursor: pointer;
  display: flex;
  
}
.menu-toggler > img{
  color: white;font-weight: bold;
  margin: auto;
}
.main-nav{
  
  width: 100%;
  
  top: 0;
  left: -100vw;
  background-image: url(bg.jpg);background-repeat: repeat-y;color: #FFD800;
  transition: all 650ms;
}
#mycheckbox:checked + .main-nav{
  left: 0;
}
img{width: 280px;height: 280px;}
h1{text-align: center;padding-top: 10px;background: url(jadi.gif);
 -webkit-text-fill-color: transparent;-webkit-background-clip: text;background-clip: text;}
.proja{
  margin-bottom: 20px;text-align: center;font-size: 30px;font-weight: bold;padding-top: 20px;background: url(round.gif);
 -webkit-text-fill-color: transparent;-webkit-background-clip: text;background-clip: text;}
 
.proj{
  column-count: 2;column-width: 85% 15%;display: flex;justify-content: right;align-items: flex-end;
}
#gui{max-width: 204px;max-height: 264px;margin-bottom: 15px;border-radius: 25px;}
#fontcss{
  width: 85%;margin-left: 20px;margin-bottom: 35px;margin-top: 25px;font-family: 'SiyamRupali', sans-serif;
}
.bih{
  margin-left: 10px;margin-bottom: 35px;margin-right: 10px;text-align: justify;background: rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 20px;
  font-family: 'SiyamRupali', sans-serif;
  }
  .quin{column-count: 2;column-width: 60% 40%;justify-content: right;align-items: flex-end;}
  #palan{max-width: 266px;max-height: 145px;border-radius: 25px;}
.nibe{
  text-align: right;margin-right: 20px;font-family: 'SiyamRupali', sans-serif;
}
h2{
  text-align: center;background: url(para.gif);
 -webkit-text-fill-color: transparent;-webkit-background-clip: text;background-clip: text;
}
h3 {
  text-align: center;margin-top: 10px;font-family: 'SiyamRupali', sans-serif;background: rgba(0, 0, 0, 0.2);color: white;
}
h6{text-align: center;margin-top: 5px;font-family: 'SiyamRupali', sans-serif;font-size: 12px;}
.container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
background: url(cng.gif);
border-radius: 50px;
color: white;
margin: 0 9px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -20px;
left: 0;
width: 100%;
height: 25px;
background: url(day.gif);
border-radius: 50px;
color: #FFD800;;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
} 

.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;margin-top: 20px;
}

.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}


.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-container {
      width: 300px;
      height: 400px;
     margin-bottom: 20px;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 300px;
}

.swiper-slide:nth-child(1) .sliderText{
background: #2196f3
}
.swiper-slide:nth-child(1) .content{
color: #2196f3;font-family: 'SiyamRupali', sans-serif;
}
.swiper-slide:nth-child(2) .sliderText{
background: #e91e63
}
.swiper-slide:nth-child(2) .content{
color: #e91e63;font-family: 'SiyamRupali', sans-serif;
}
.swiper-button-prev{
   background-color: rgba(0, 0, 0, 0.3);
}
.swiper-button-next{
    background-color: rgba(0, 0, 0, 0.3);
}
footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  

 a{text-decoration: none;}
 button{width: 100px;height: 30px;border-radius: 44px;border: none;letter-spacing: 2px;font-size: 15px;font-weight: bold;background: #01E541;
 color: white;}
                 
      
 